/user_interface/user_interface_venv/
/display_service/display_service_venv/
/device_identity_service/device_identity_service_venv/
/local_auth_service/local_auth_service_venv/
/product_management_service/product_management_service_venv/
.env
__pycache__/
.vscode
test